body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    color:white;
    font-size:3rem;
    font-weight:700;
}

section.hero h2{
    color:white;
    font-size:1.2rem;
    font-weight:400;
}

.main-logo {
    font-weight:700;
    font-size:1.5rem;
    
}

.navbar-nav{
    position:absolute;
    top:20%;
    right:0;
    
}

.navbar a{
    margin-right:1rem;
    text-decoration:none;
}

.navbar-text{
    display:inline;
    font-size:1rem;
    color:white;
    font-weight:600;
    text-transform:uppercase;
}

.hero{
    background-color: rgb(89, 185, 158);
}

.avatar{
    width:40%;
}

.my-divider{
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.my-divider-line{
    width:30%;
    height: 0.25rem;
    background-color:white;
    margin:0 1rem;    
}

.my-divider-icon{
    font-size:2rem;
    color:white;
}

.portfolio, .contact{
    background-color: white;
}

.card{
    width:100%;
    border-radius:10px;
    object-fit: cover;
}

.about{
    background-color: rgb(89, 185, 158);
}

.my-footer{
    height: 60px;
    background-color: rgb(48, 62, 78);
}

.footer-info{
    background-color: rgb(64, 83, 107);
}

.my-text-left{
    text-align:left;
}

.my-text-right{
    text-align:right;
}

section.portfolio .my-divider-line,
section.contact .my-divider-line{
    background-color:black;
    width:13%;
}

section.portfolio .my-divider-icon,
section.contact .my-divider-icon{
    color:black;
}

section.about .my-divider-line{
    color:white;
    width:12%;
}

section.footer-info a:link:nth-of-type(1){
    color:greenyellow;
    text-transform:uppercase;
    text-decoration: none;
}
